@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
body {
    background-color: #22262b;
  }

h1, h4, #special {
    color: #eadf50; 
    font-family: 'Paytone One', sans-serif;
    font-weight: 40;
    margin-left: 5%;
    margin-bottom: 0px;
    

}

h1 {
    font-size: 120px;
}

h4 {
    font-size: 40px;
   
}
  
p {
    padding: 5%;
    font-family: 'Reggae One';
    font-size: 20px;
    color: #fefefb;
}

a {
    color: #b32e30;
    text-decoration: none;
}